.box{
    padding:15px;
    background-color: teal;
    margin-top: 10px;
    margin-bottom: 10px;
}
.height{
    height: 400px;
}
body{
    background: white;
}

.my_form{
    padding: 15px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

.carousel-text{
    color:red;
    text-shadow: 8px 8px 8px #000000;
    font-size: 1.5em;
  }